@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #2563eb; /* A modern blue */
  --secondary-color: #475569; /* A cool gray */
  --background-color: #f8fafc; /* A very light gray */
  --card-background: #ffffff;
  --text-color: #1e293b;
  --border-color: #e2e8f0;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

